@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers&family=Texturina:opsz@12..72&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --title-color: #ccd6f6;
    /*--halycon: #64ffda;*/
    --halycon: #00eeb6;
    --blueBC: #8892b0;
    --paper_color: #8892b0;
    --background_color: #03122b;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #03122b;
    min-height: 100vh;
    color: white;
    font-family: Rubik, sans-serif;
    overflow-x: clip;
}

.project_cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 85vw;
    margin-left: 10vw;
    margin-right: 2vw;
    /*border: #f09d51 1px solid;*/
}

.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    margin-left: 10vw;
    margin-right: 2vw;
}

.project_description {
    display: flex;
    width: 60%;
    max-width: 80vw;
    margin-right: 10vw;
}

.project_description .highlight {
    font-size: 1rem;
    font-weight: lighter;
    color: var(--title-color);
}

.project_description p {
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--paper_color);
    text-align: justify;
}

.project_cover .project_title {
    font-size: 1.5rem;
    font-weight: 300;
    /* lighter weight */
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1rem;
}

.last_project {
    margin-bottom: 0;
}

.project_image {
    display: flex;
    z-index: -1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Needed for arrow positioning */
}

.project_image img {
    width: 300x;
    height: 300px;
    object-fit: cover;
    border-radius: 0.3rem;
    display: block;
}

.project_image figcaption {
    font-size: 1.2rem;
    color: var(--blueBC);
    text-align: center;
    margin-top: 1.5rem;
    font-style: italic;
    display: block;
    z-index: 1;
}

.project_image img:hover {
    cursor: pointer;
}

.carousel-wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 0;
    opacity: 0.7;
}

.carousel-button:hover {
    opacity: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

@media only screen and (min-width: 800px) {
    .project {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: flex-start; */
        align-items: center;
        gap: 2rem;
        width: 100%;
        margin: 2rem 0;
    }

    .project_image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: center;
        gap: 0.5rem;
        width: 100%;
        /* max-width: 500px; */
        aspect-ratio: 1 / 1;
        /* overflow: hidden;  */
        /* clips the child elements such as captions to fit the container size (not recommended) */
        margin: 0 auto;
        /* border: #00eeb6 1px solid; */
    }

    .project_image img {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 300px;
        object-fit: cover;
        display: flex;
    }

    .project_image iframe {
        display: block;
        position: center;
        /*border: #f09d51 1px solid;*/
        max-width: 100%;
    }

    .project_image p {
        display: block;
        color: var(--blueBC);
        text-align: center;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 800px) {
    .carousel-button {
        display: none;
    }

    .project_image,
    .project_image img,
    .project_image p {
        display: none;
    }

    .project_description {
        display: flex;
        width: 100%;
        max-width: 80vw;
        margin-right: 10vw;
    }

}